.cabecalho{
    height: 5rem;
  }
  
  .logo{
    height: 5rem;
    justify-content:space-around;
  }
  
  .cabecalho_conteudo{
    justify-content: space-between;
  }
  
  body {
    --azul-logo: #1578b6;
    --azul-escuro: darkblue;
    font-family: 'Barlow', sans-serif;
    
    overflow-x: hidden;
  }





[data-bs-theme="dark"]{
    color: white;
    .nav-link, .card-body, .offcanvas, .accordion, .btn{
      --bs-nav-link-color: white;
      --bs-card-color: white;
      --bs-offcanvas-color: white;
      --bs-body-color: white;
      
    }
  
    .form-select{
      color: white;
    }
  
  }
  
  
  .titulo{
    font-size: 48px;
    color: var(--azul-logo);
    justify-content: center;
    text-align: center;
    margin-left: 15rem;
  }
  
  .texto{
    margin: auto, 2, auto, 2;
  }
  
  .reservatorio {
    position: relative;
    width: 70px; /* largura do reservatório */
    height: 100px; /* altura do reservatório */
    border: 2px solid #666; /* borda do reservatório */
    border-radius: 10px; /* borda arredondada */
    background: linear-gradient(to bottom, #ddd, #999); /* gradiente de fundo para efeito 3D */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.8); /* sombras para efeito 3D */
  }
  
  .agua {
    position: absolute;
    bottom: 0;
    background-color: #00f; /* cor da água */
    width: 100%; /* A água ocupa toda a largura do reservatório */
    transition: height 0.5s ease; /* Animação suave para alterações na altura */
    border-radius: inherit; /* herda a borda arredondada do reservatório */
  }
  
  .textoPorcentagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* cor do texto */
    font-size: 24px; /* tamanho da fonte */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* sombra do texto para destacar */
  }
  
  
  
  /* Botao Noturno */
  /* checkbox settings 👇 */
  
  .switch {
    /* global */
    --total_transition_duration: .3s;
    /* switch */
    --slider_width: 2.875em;
    --slider_height: 1.5em;
    --slider_light_bg: linear-gradient(90deg, #f32a85 0%, #f19d36 100%);
    --slider_night_bg: linear-gradient(90deg, #1701a1 0%, #af0693 75%);
    --slider_offset: calc((var(--slider_height) - var(--circle_diameter)) / 2);
    --slider_radius: calc(var(--slider_height) / 2);
    /* circle */
    --circle_diameter: 1.125em;
    --circle_rotation: 360deg;
    /* svg */
    --svg_width: var(--circle_diameter);
    --sun-color: #fff;
    --moon-color: #fff;
  }
  
  .switch input {
    display: none;
  }
  
  .slider svg {
    position: absolute;
    height: auto;
    color: var(--svg-color);
    transition: var(--total_transition_duration) ease;
    width: 100%;
  }
  
  .circle svg.sun {
    transform: scale(1);
    color: var(--sun-color);
  }
  
  .circle svg.moon {
    transform: scale(0);
    color: var(--moon-color);
    width: calc(100% - 2px);
  }
  
  .slider {
    display: inline-block;
    width: var(--slider_width);
    height: var(--slider_height);
    border-radius: var(--slider_radius);
    position: relative;
    cursor: pointer;
    transition: var(--total_transition_duration) ease;
    overflow: hidden;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: var(--total_transition_duration) ease;
  }
  
  /* ::before and ::after backgrounds are needed for smooth 
  transition of gradients otherwise there is no way :\ */
  .slider::before {
    opacity: 0;
    background: var(--slider_night_bg);
  }
  
  .slider::after {
    opacity: 1;
    background: var(--slider_light_bg);
  }
  
  /* ------------ */
  
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--circle_diameter);
    height: var(--circle_diameter);
    position: absolute;
    top: var(--slider_offset);
    left: var(--slider_offset);
    transition: var(--total_transition_duration) ease;
    z-index: 10;
  }
  
  /* actions */
  
  .switch input:checked+.slider::before {
    opacity: 1;
  }
  
  .switch input:checked+.slider::after {
    opacity: 0;
  }
  
  .switch input:active+.slider .circle {
    transform: scale(0.9);
  }
  
  .switch input:checked+.slider .circle {
    left: calc(100% - var(--circle_diameter) - var(--slider_offset));
  }
  
  .switch input:checked+.slider .sun {
    transform: scale(0) rotate(var(--circle_rotation));
  }
  
  .switch input:checked+.slider .moon {
    transform: scale(1) rotate(var(--circle_rotation));
  }
  /* Fim Botao Noturno */