body {
  --azul-logo: #1578b6;
  --azul-escuro: darkblue;
  font-family: 'Barlow', sans-serif;
  
  overflow-x: hidden;
}

.cabecalho{
  height: 5rem;
  
}



.logo{
  height: 5rem;
  justify-content:space-around;
}

.cabecalho_conteudo{
  margin-right: 0px;
  
}




.footer{
  background-color: var(--azul-logo);
  height: 6rem;
}





body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.custom-file-upload { 
  display: inline-block; 
  padding: 6px 12px; 
  cursor: pointer; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #f8f9fa;
 } 

 .custom-file-upload i {
   margin-right: 8px; 
  } 
  
  .custom-file-upload input[type="file"] { 
    display: none; 
  }

h1 {
  color: #007BFF;
  margin-right: 129px;
}
.titulo{
  font-size: 47px;
}

main {
  padding: 60px 10px 40px;
  /* Ajuste o padding superior e inferior para espaço do cabeçalho e rodapé */
  margin-bottom: 120px;
}



input[type="text"],
input[type="number"],
input[type="file"] {
  width: 150px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
  background-color: #e9ecef;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  
}


th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  
}

th {
  background-color: #007BFF;
  color: white;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}

.avisos{
  display: flex;
}

h2{margin-right: 230px;}

td input[type="text"], td input[type="number"] { 
  width: 100%; 
  box-sizing: border-box; /* Garantir que o preenchimento e a borda estejam incluídos na largura total */ }

.wrapper { 
  min-height: 100%; 
  display: flex; 
  flex-direction: column;}

.aviso{
color: #ff0000;
font-size: 15px;
}

